.metadata


 
# OS Files #
.DS_Store
 

 
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 

.metadata
# Locally stored "Eclipse launch configurations"
*.launch


# Locally stored "Eclipse launch configurations"
*.launch


.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt


.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip

.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tii

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.prx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.nrm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.frq

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fnm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdt

.recommenders/caches/manual-mappings.json

.recommenders/caches/identified-project-coordinates.json

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_4

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.tii

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.prx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.nrm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.frq

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.fnm

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.fdx

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_3.fdt

Delfin/bin/Delfinen.class

Delfin/Members.ser

Delfin/bin/Delfinen.class

Delfin/bin/Delfinen.class

Delfin/bin/Member.class

Delfin/bin/Delfinen.class

Delfin/bin/Delfinen.class

Delfin/bin/Delfinen.class

*.class
